
.transparentBg {
    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.21);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.2px);
    -webkit-backdrop-filter: blur(10.2px);
}
.card{
    background: none;
}

.row-team{
    z-index: 2;
}

.team-img{

    
    background-image: url(Images/Mauricio.jpg);
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
    width: 30vh;
    border-radius: 50%;
}


#gabiPic{
    background-image: url(Images/Gabi.jpeg);
}
#nathanPic{
    background-image: url(Images/Nathan.jpeg);
}
#pedroPic{
    background-image: url(Images/Pedro.webp);
}
#alexPic{
    background-image: url(Images/Alex.jpeg);
}
#chorinhoPic{
    background-image: url(Images/Chorinho.jpg);
}


.instaIcon {
  display: inline-block;
  font-size: 3rem;                /* tamanho do ícone */
  color: #fff;                    /* cor inicial (opcional) */
  transition: transform 0.6s ease; /* só transição da rotação */
}


.instaIcon:hover {
  transform: rotate(360deg);
  background: linear-gradient(45deg, #feda75, #d62976, #962fbf, #4f5bd5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}