@import url(FontPixel.ttf);
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    font-family: "Montserrat", sans-serif;
    color: white;
    
    
}
body, main, html, footer{
    background:  #004988;
    overflow-x: hidden;
}
/* body, html{
    overflow-x: hidden;
} */
@font-face {
  font-family: 'PixelFont'; /* nome que você vai usar no CSS */
  src: url('fonts/FontPixel.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.gameName{
    font-family: PixelFont;
}

#logo {
    height: 25vh;
    width: 25vh;
    border-radius: 50%;
}

.footerName {
    font-family: PixelFont;
}

.effectH1 {
    height: 0.5vh;
    background-color: #00ff00 ;
    width: 100%;
    border-radius: 10px;
}

.effectFooter {
    height: 0.5vh;
    background-color: #00ff00 ;
    width: 30%;
    border-radius: 10px;
}


.infosContainer {
    text-align: justify;
}

@media (max-width: 600px) {
    #logo {
        height: 10vh;
        width: 10vh;
    }
    .gameName{
        font-size: 20px;
    }
    /* .effectH1 {
        display: none;
    } */
    .effectFooter {
        display: none;
    }
}
