main {
  position: relative;
  background-color: #3B3A61;
  color: rgb(255, 255, 255);
  color: #FFFEFD;
  font-family: 'Montserrat', sans-serif;
}

#aboutUsText {
  font-size: 25vh;
}

.about-us {
  text-align: justify;
}

.imageLogo {
  background-image: url("../../public/JaburuTech_Logo_nome&logo_scaled_8x_pngcrushed.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  width: 50vh;
  height: 50vh;
  transform: translateX(-60%) rotate(25deg) scale(140%);
  /* transform: rotate(30deg); */
  transition: transform 0.3s ease;
}

.portifolio {
  background-color: #FEF3E2;
  color: #3B3A61;
  color: #190931;
}

.team {
  background-color: #262548;
  color: #FFFEFD;
}

.about-us-text {
  /* text-align: center; */
  font-size: 1000%;
  font-weight: bolder;
}

.portifolio-text {
  font-size: 600%;
  font-weight: bolder;
}

.team-text {
  font-size: 1000%;
  font-weight: bolder;
}

.contact-text {
  font-size: 1000%;
  font-weight: bolder;
}

.contact {
  background-color: #c7c7c7;

}

.carousel-item {
  position: relative;
  height: 60vh;
  overflow: hidden;
}

.carousel-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: 1;
}

.carousel-indicator {
  background: rgba(28, 28, 28, 0.18);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.6px);
  -webkit-backdrop-filter: blur(9.6px);
}

.horizontal-scroll {
  cursor: grab;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scrollbar-color: #ffffff transparent;
  /* cor da barra + fundo */
  scrollbar-width: thin;
  /* no Firefox */
  padding-bottom: 10px;
}

.horizontal-scroll::-webkit-scrollbar {
  height: 8px;
}

.horizontal-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.horizontal-scroll::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 8px;
  border: 2px solid transparent;
  background-clip: padding-box;
  transition: background-color 0.3s;
}

.horizontal-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #ffffff;
}


/* Container do card com imagem */
.team-card {
  min-width: 280px;
  border: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  overflow: hidden;
  transition: transform 0.2s;
  background-color: #fff;
  position: relative;
}

.team-card:hover {
  transform: translateY(-5px);
}

/* Estilos para a imagem e overlay */
.image-container {
  position: relative;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.profile-container {
  position: relative;
  /* width: 200px;
    height: 200px; */
  overflow: hidden;
  /* border-radius: 50%; */
}

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: filter 0.3s ease;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: opacity 0.3s ease;
  text-decoration: none;
}

.instagram-logo {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.username {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid #fff;
  opacity: 0;
  transition: opacity 0.3s ease;
}

#typingText {
  /* color: #fff; */
  font-family: 'Montserrat', sans-serif;
  /* font-size: 16px; */
  /* opacity: 0; */
  white-space: nowrap;
  overflow: hidden;
  transition: opacity 0.3s ease;
}

#typingText::after {
  content: "|";
  animation: blink 1s infinite;
}

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.typed-text {
  /* font-size: 2rem; */
  /* font-weight: 600; */
  /* color: #fff; */
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  /* white-space: nowrap; */
  /* overflow: hidden; */
  /* display: inline-block; */
  animation: blink-caret 0.75s step-end infinite;
}

.studio-title {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 1rem;
  color: white;
}

@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}


.profile-container:hover .profile-image {
  filter: blur(4px);
}

.profile-container:hover .overlay {
  opacity: 1;
}

.profile-container:hover .instagram-logo {
  opacity: 1;
  transform: translateY(0);
}

.profile-container:hover .username {
  opacity: 1;
}

.whats-icon {
  color: white;
  transition: ease 0.5s all;
}

.youtube-icon {
  color: white;
  transition: ease 0.5s all;
}

.insta-icon {
  color: white;
  transition: ease 0.5s all;
}

.whats-icon:hover {
  transform: translateY(-3%);
  color: #25D366;
}

.youtube-icon:hover {
  transform: translateY(-3%);
  color: #FF0000;
}

.insta-icon:hover {
  transform: translateY(-3%);
  color: #DD2A7B;
}

@media (max-width:767px) {
  .about-us-text {
    font-size: 300%;
    font-weight: bolder;
  }

  .portifolio-text {
    font-size: 300%;
    font-weight: bolder;
  }

  .team-text {
    font-size: 300%;
    font-weight: bolder;
  }

  .contact-text {
    font-size: 300%;
    font-weight: bolder;
  }

  /* .imageLogo{
    background-size: contain;
    border-radius: 12%;
    transform: translateX(0%) rotate(0deg) scale(100%);
    transition: transform 0.3s ease;
} */
}

@media (max-width:288px) {
  .about-us-text {
    font-size: 200%;
    font-weight: bolder;
  }

  .portifolio-text {
    font-size: 200%;
    font-weight: bolder;
  }

  .team-text {
    font-size: 200%;
    font-weight: bolder;
  }

  .contact-text {
    font-size: 200%;
    font-weight: bolder;
  }

  /* .imageLogo{
    background-size: contain;
    border-radius: 12%;
    transform: translateX(0%) rotate(0deg) scale(100%);
    transition: transform 0.3s ease;
} */
}

@media (max-width:800px) {
  .imageLogo {
    background-size: contain;
    border-radius: 12%;
    transform: translateX(0%) rotate(0deg) scale(100%);
    /* transform: rotate(30deg); */
    transition: transform 0.3s ease;
  }
}




/* Projetor card*/


.card-project {
  /* width: 300px; */
  height: 200px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  color: white;
  overflow: hidden;
  position: relative;
  transform-style: preserve-3d;
  perspective: 1000px;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  cursor: pointer;
}

/*  */


.card-cerrado {

  background-image: url(../../public/CerradoVivo.jpeg);
}

.card-gate {

  background-image: url(../../public/Gateball.jpeg);
}

.card-pantanal {

  background-image: url(../../public/PantanalCode.jpeg);
}

.card-project-content {
  padding: 20px;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  z-index: 5;
   /* height: 100%; */
    
}

.project-img{
  position: absolute;
  height: 100%;
  width: 100%;
  /* From https://css.glass */
  background: rgba(58, 58, 58, 0.2);
  /* border-radius: 16px; */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  transition: ease-in .2s;
}

.card-project-content .card-project-title {
  font-size: 24px;
  font-weight: 700;
  color: inherit;
  text-transform: uppercase;
  z-index: 100;
}
.card-project:hover .project-img {
  opacity: 0;
}
.card-project-content .card-project-para {
  color: inherit;
  opacity: 0.8;
  font-size: 14px;
}

.card-project:hover {
  transform: rotateY(10deg) rotateX(10deg) scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.card-project:hover .card-project-content .card-project-title {
  border-radius: 20%;
  padding-left: 10px;
  padding-right: 10px;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}



.card-project:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
  transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  z-index: 1;
}

.card-project:hover:before {
  transform: translateX(-100%);
}

.card-project::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  /* width: 100%;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.1)), rgba(28, 28, 28, 0.28);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1); */
  z-index: 1;
}

.card-project:hover::after {
  transform: translateX(100%);
}